<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span *ngIf="currentCourse?.id; else elseBlock">{{
        originalTitle | titlecase
      }}</span>
      <ng-template #elseBlock>Select a course</ng-template>
    </mat-card-title>
  </mat-card-header>
  <form #form="ngForm" (submit)="saved.emit(currentCourse)">
    <mat-card-content>
      <input
        type="text"
        placeholder="Title"
        [(ngModel)]="currentCourse.title"
        name="title"
        required
      />
      <input
        type="text"
        placeholder="Description"
        [(ngModel)]="currentCourse.description"
        name="description"
      />
      <section class="full-width">
        <h4>{{ currentCourse.percentComplete }}% Complete</h4>
        <mat-slider
          min="1"
          max="100"
          name="percentComplete"
          [(ngModel)]="currentCourse.percentComplete"
        ></mat-slider>
      </section>
      <section>
        <mat-checkbox [(ngModel)]="currentCourse.favorite" name="favorite">
          Favorite
        </mat-checkbox>
      </section>
    </mat-card-content>
    <mat-card-actions>
      <button
        type="submit"
        mat-button
        color="primary"
        [disabled]="form.invalid"
      >
        Save
      </button>
      <button type="button" mat-button (click)="cancelled.emit()">
        Cancel
      </button>
    </mat-card-actions>
  </form>
  <hr />
  <pre>{{ form.value | json }}</pre>
  <pre>{{ form.valid | json }}</pre>
</mat-card>
