<div class="courses-containers">
  <div class="courses-list">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Course List </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- COURSES LIST -->
        <ul class="list">
          <li *ngFor="let course of courses" (click)="selectCourse(course)">
            <div class="content">
              <h3>{{ course.title | titlecase }}</h3>
              <p>{{ course.description }}</p>
            </div>
            <button
              mat-icon-button
              color="warn"
              (click)="
                deleteCourse(course.id); $event.stopImmediatePropagation()
              "
            >
              <mat-icon>delete</mat-icon>
            </button>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="course-details">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <span *ngIf="selectedCourse?.id; else elseBlock">{{
            originalTitle | titlecase
          }}</span>
          <ng-template #elseBlock>Select a course</ng-template>
        </mat-card-title>
      </mat-card-header>
      <form #form="ngForm" (submit)="saveCourse(selectedCourse)">
        <mat-card-content>
          <!-- COURSE FORM -->
          <input
            type="text"
            placeholder="Title"
            [(ngModel)]="selectedCourse.title"
            name="title"
            required
          />
          <input
            type="text"
            placeholder="Description"
            [(ngModel)]="selectedCourse.description"
            name="description"
          />
          <section class="full-width">
            <h4>{{ selectedCourse.percentComplete }}% Complete</h4>
            <mat-slider
              min="1"
              max="100"
              name="percentComplete"
              [(ngModel)]="selectedCourse.percentComplete"
            ></mat-slider>
          </section>
          <section>
            <mat-checkbox [(ngModel)]="selectedCourse.favorite" name="favorite">
              Favorite
            </mat-checkbox>
          </section>
        </mat-card-content>
        <mat-card-actions>
          <!-- COURSE ACTIONS -->
          <button
            type="submit"
            mat-button
            color="primary"
            [disabled]="form.invalid"
          >
            Save
          </button>
          <button type="button" mat-button (click)="reset()">Cancel</button>
        </mat-card-actions>
      </form>
      <hr />
      <pre>{{ form.value | json }}</pre>
      <pre>{{ form.valid | json }}</pre>
    </mat-card>
  </div>
</div>
